@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: transparent;
  color: #22d3ee;
  font-family: 'Inter', monospace;
  /* Fallback to monospace */
  overflow-x: hidden;
}

.neon-text {
  text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
}

.glass-card {
  background: rgba(26, 26, 26, 0.8);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}